.backToTop {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: var(--spacing-100);
    right: var(--spacing-400);
    z-index: 1000;
    border-radius: 40px;
    border: none;
    background: var(--accent-turquoise);
    width: var(--size-700);
    height: var(--size-700);
    box-shadow: var(--shadow-small);
}

.visible {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.backToTop__icon {
    color: var(--background);
}