.accordion {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}

.accordion__item {
  overflow: hidden;
  padding-top: var(--spacing-300);
  padding-bottom: var(--spacing-300);
}

.accordion__item:not(:last-child) {
  border-bottom: 1px solid #A2A4CF;
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-300);
  background: none;
  border: none;
  padding: var(--spacing-00);
  cursor: pointer;
  font-size: var(--font-size-large);
  font-family: var(--font-family-brand);
  color: var(--foreground);
  width: 100%;
  text-align: left;
}

.accordion__title {
  font-weight: var(--font-weight-bold);
}

.accordion__icon {
  display: flex;
  padding: var(--spacing-100);
  border-radius: var(--border-radius-xxlarge);
  background-color: var(--accent-turquoise);
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.accordion__item--open .accordion__icon {
  transform: rotate(180deg);
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.7s ease;
  padding: var(--spacing-00);
}

.accordion__item--open .accordion__content {
  grid-template-rows: 1fr;
}

.accordion__content__inner {
  min-height: 0;
  text-align: left;
}

.accordion__content p {
  margin: var(--spacing-300) 0;
  font-family: var(--font-family-brand);
  color: var(--foreground);
  text-align: left;
}